<div class="card_title">User Registration  </div>

<div class="card">

  <div class="card-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Department  </label>

        <select class="form-select"  id="">
          <option value="test">test</option>

        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">User Type </label>

        <select class="form-select"  id="">
          <option value="test">test</option>

        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">System Name</label>
        <select class="form-select"  id="">
          <option value="test">test</option>

        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">User Code</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">User Name</label>
        <input type="text" class="form-control">

      </div>
    </div>


    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Password</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Mail Id</label>
        <input type="text" class="form-control">

      </div>
    </div>


    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Mobile Number</label>
        <input type="text" class="form-control">

      </div>
    </div>





    <div class="col-sm-3">
      <mat-checkbox>Is-Active </mat-checkbox>
    </div>








    <div class="col-sm-9">
      <div class="form-group">
        <label for="label">Reason for De-Active </label>
        <textarea type="text" rows="2" class="form-control"></textarea>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline pull-right mrg">
        <li class="list-inline-item m_r_25">
          <button class="btn btn-danger">Cancel</button>
                  </li>
        <li class="list-inline-item">
<button class="btn btn-success">Submit</button>
        </li>

      </ul>
    </div>
  </div>
  </div>
</div>
<hr>
<table class="table">
  <thead class="bg-primary">
    <th>
      Issue Category
    </th>
    <th>
      Item Type
    </th>
    <th>Item Name</th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Test</td><td>Test</td>
      <td>Test</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
    <tr>
      <td>Test</td><td>Test</td>
      <td>Test</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
  </tbody>
</table>
