.icons{
  font-size: 40px;
}
.nav-item{
  margin: 0 10px;
}
.p_name{
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
  position: relative;
  bottom: 8px;
}

.nav-item a{
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 14px;
  font-weight: 600;
}
.navbar-brand{
  text-transform: uppercase;
}
.active-link{
  background-color: rgb(245, 245, 245);
  border-radius: 5px;

}
