<div class="card_title">Issue Category </div>

<div class="card">

  <div class="card-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Category Name</label>
        <input type="text" class="form-control">

      </div>
    </div>
    <div class="col-sm-9">
      <div class="form-group">
        <label for="label">Description</label>
        <textarea type="text" rows="2" class="form-control"></textarea>

      </div>
    </div>

  </div>
  <div class="row">
<div class="col-sm-3">
  <mat-checkbox>IsActive </mat-checkbox>
</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline pull-right mrg">
        <li class="list-inline-item m_r_25">
          <button class="btn btn-danger">Cancel</button>
                  </li>
        <li class="list-inline-item">
<button class="btn btn-success">Submit</button>
        </li>

      </ul>
    </div>
  </div>
  </div>
</div>
<hr>
<table class="table">
  <thead class="bg-primary">
    <th>
      Category Name
    </th>
    <th>
      Description
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Test</td>
      <td>Browser application bundle generation complete.</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Browser application bundle generation complete.</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
  </tbody>
</table>
