<div class="card_title">Item Master  </div>

<div class="card">

  <div class="card-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Issue Category </label>

        <select class="form-select"  id="">
          <option value="Hardware">Hardware</option>
          <option value="Network">Network</option>
          <option value="Software">Software</option>
        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Item Type </label>

        <select class="form-select"  id="">
          <option value="Computer">Computer</option>
          <option value="Laptop">Laptop</option>
          <option value="Printer">Printer</option>
          <option value="CPU">CPU</option>
          <option value="Monitor">Monitor</option>
          <option value="Keyboard">Keyboard</option>
        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Item Name</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Item Serial Number</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-9">
      <div class="form-group">
        <label for="label">Item  Description</label>
        <textarea type="text" rows="2" class="form-control"></textarea>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Brand Name  </label>

        <select class="form-select"  id="">
          <option value="test">test</option>

        </select>

      </div>
    </div>

    <div class="col-sm-3">
      <mat-checkbox>IsWarranty  </mat-checkbox>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Warranty Months</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Purchase No</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Purchase Date</label>
        <div class="input-group mb-3">
          <input type="text"
          class="form-control"
          #dp="bsDatepicker"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', showWeekNumbers:false }"
          bsDatepicker
          [bsValue]="bsValue">
          <span class="input-group-text"
           (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
            <span class="material-icons">
              calendar_month
              </span>
          </span>
        </div>

      </div>
    </div>


    <div class="col-sm-3">
      <div class="form-group">
        <label for="label">Supplier</label>
        <input type="text" class="form-control">

      </div>
    </div>

    <div class="col-sm-9">
      <div class="form-group">
        <label for="label">Reason for De-Active </label>
        <textarea type="text" rows="2" class="form-control"></textarea>

      </div>
    </div>

    <div class="col-sm-3">
      <mat-checkbox>Is-Active  </mat-checkbox>
    </div>



  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline pull-right mrg">
        <li class="list-inline-item m_r_25">
          <button class="btn btn-danger">Cancel</button>
                  </li>
        <li class="list-inline-item">
<button class="btn btn-success">Submit</button>
        </li>

      </ul>
    </div>
  </div>
  </div>
</div>
<hr>
<table class="table">
  <thead class="bg-primary">
    <th>
      Issue Category
    </th>
    <th>
      Item Type
    </th>
    <th>Item Name</th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Test</td><td>Test</td>
      <td>Test</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
    <tr>
      <td>Test</td><td>Test</td>
      <td>Test</td>
      <td>
        <ul class="list-inline ">
          <li class="list-inline-item m_r_25">
            <button class="btn btn-warning btn-sm">
              <span class="material-icons">
                edit
                </span>
              </button>
                    </li>
          <li class="list-inline-item">
  <button class="btn btn-success btn-sm ">
    <span class="material-icons">
      delete
      </span>
    </button>
          </li>

        </ul>
      </td>
    </tr>
  </tbody>
</table>
