/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Public Sans", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "node_modules/bootstrap/scss/mixins" ;


body {
  margin: 0px;
  color: rgb(38, 38, 38);
  font-size: 0.875rem;
  line-height: 1.57;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  background-color: rgb(250, 250, 251);
}
.navbar{
  background-color: #fff !important;
}
.form-group{
  margin-bottom: 1.5rem;
}
.form-group label{
  font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    padding-bottom: 5px;
}
button{
  width: 100px;
}
